body {
	background: #ffd670;
	font-family: Arial;
	width: 100%;
}

.container {
	margin: 0 auto;
	text-align: center;
}

#burger-image {
	height: 150px;
	margin-bottom: -20px;
}

.heading {
	color: #c91e1e;
}

#burger-input {
	height: 30px;
	width: 280px;
	font-size: 14px;
	padding-top: 2%;
	margin: 0 auto;
	text-align: center;
}

.burger-div {
	display: block;
	width: 350px;
	margin: 0 auto;
}

#burgers-to-devour, #burgers-devoured {
	list-style: none;
}

#burgers-to-devour li, #burgers-devoured li {
	background-color: #eae7de;
	border: 1px solid #d6d5d4;
	padding: 0 10px;
	font-size: 14px;
	text-align: left;
	text-transform: capitalize;
}

#burgers-devoured li {
	width: 290px;
}

.devour {
	float: right;
	margin-left: 15px;
	cursor: pointer;
}

.devour:hover {
	background-color: #c91e1e;
	color: #fff;
	border-radius: 5px;
	margin-top: -2px;
}


#add-burger {
	height: 40px;
	width: 120px;
	background-color: #c91e1e;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
	border-radius: 5px;
}

#add-burger:hover {
	background-color: #ad0f0f;
}


